/** @format */

@import 'variables.scss';
@import 'mixins.scss';

.checkoutProduct {
  width: 100%;
  height: auto;
  margin-top: 1rem;

  display: flex;

  &__img {
    width: 15rem;
    height: 15rem;
    object-fit: contain;
  }

  &__info {
    margin: 0 2rem;
  }

  &__title,
  &__price,
  &__rating {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  &__rating {
    display: flex;
  }

  &__btn {
    padding: 0.5rem 1rem;
  }
}
